asgiref==3.3.1
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
Django==3.1.7
django-admin-honeypot==1.1.0
importlib-metadata==4.3.0
Markdown==3.3.4
pdf-to-markdown==0.1.0
pdfkit==0.6.1
pdfminer.six==20201018
Pillow==8.2.0
pycparser==2.20
PyPDF2==1.26.0
pytz==2021.1
sortedcontainers==2.4.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
zipp==3.4.1
