.my_header {
    padding: 10px 16px;
    text-align: center;
}

.icons {
    width: 10%;
    margin-top: -10px;
    margin-bottom: -10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    vertical-align: top;
}

h4 {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: dimgrey;
}

.h3-message {
    color: white;
}

p {
    font-size: 18px;
    text-align: justify;
    color: darkgrey;
}

.p_header {
    font-size: 20px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.btn-primary {
    background-color: darkorange;
    border-color: white;
}


.message {
    border-radius: 20px;
    width: 80%;
    margin-bottom: 2%;
}

.canviar_document {
    background-color: white;
}

.h3-document {
    color: darkorange;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    border-radius: 50px;
}

div.row.middle_features {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.row.top_feature {
    margin-bottom: 20px;
}

div.row.bottom_feature {
    margin-top: 20px;
}

div.row.message_feature {
    text-align: center;
    margin-top: 10%;
}

div.row.document_feature {
    text-align: center;
    padding-top: 20px;
}


div.col-md-auto {
    display: inline-block;
}

.area-input {
    width: 100%;
}

.box {
    margin: auto;
    width: 25%;
}
