.my_header {
    padding: 10px 16px;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

.p_header {
    color: darkgrey;
    font-size: 20px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.right {
  position: absolute;
  right: 200px;
  padding: 10px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 450px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button1 {
    position: relative;
    right: -1350px;
    color: white;
    border: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    background-color: darkorange;
    padding: 14px 20px;
}

.btn-secundary {
    background-color: white;
    border-color: darkorange;
}

.comment {
    word-wrap: break-word;
    margin: 20px 20px 20px 20px;
    display: inline-block;
    height: 200px;
    border-width: 0.5px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkorange;
}
.my_header {
    padding: 10px 16px;
}

.icons {
    width: 10px;
    height: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    vertical-align: top;
}

.h3-message {
    color: white;
}

.h3-message-orange {
    color: darkorange;
}

p {
    font-size: 18px;
    text-align: justify;
    color: darkgrey;
}

.p_header {
    font-size: 20px;
    width: 1000px;
    margin: auto;
}

.btn-primary {
    background-color: darkorange;
    border-color: white;
}

.btn-secundary {
    background-color: white;
    border-color: darkorange;
}

.message {
    border-radius: 20px;
    width: 400px;
}

.canviar_document {
    background-color: white;
}

.h3-document {
    color: darkorange;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    border-radius: 50px;
}

div.row.middle_features {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.row.top_feature {
    margin-bottom: 20px;
}

div.row.bottom_feature {
    margin-top: 20px;
}

div.row.message_feature {
    text-align: center;
    padding-top: 75px;
}

div.row.document_feature {
    text-align: center;
    padding-top: 20px;
}

div.row {
    display: block;
}

div.col-md-auto {
    display: inline-block;
}

iframe{
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
}