header {
    background-image: url("../home/HOME_background.jpeg");
    background-position: 50% 60%;
}

.my_header {
    text-align: center;
    vertical-align: center;
    padding: 220px 16px;
}

h1 {
    font-size: 50px;
    color: white;
}

.edition_world {
    font-size: 70px;
    color: black;
}

.business {
    font-size: 70px;
    color: white;
    font-weight: bold;
}

.features {
    font-size: 25px;
}

.cataleg-img {
    width: 60px;
    height: 60px;
    margin-bottom: -10px;
    margin-top: -10px;
}

.book-img {
    width: 250px;
    height: 350px;
}

.entorn-treball-img {
    width: 40px;
    height: 40px;
    margin-bottom: -10px;
    margin-top: -10px;
}

h5 {
    text-align: justify;
}

p {
    font-size: 18px;
    text-align: justify;
    color: darkgrey;
}

.entorn-treball-text {
    color: black;
    text-align: center;
    display: inline;
    vertical-align: middle;
}

li {
    text-align: justify;
}

.btn-primary {
    background-color: darkorange;
    border-color: white;
}

div.entorn-treball {
    padding: 16px 16px;
    width: 1100px;
    margin: auto;
    border-radius: 25px;
    border: 2px solid orange;
}