.my_header {
    padding: 10px 16px;
}

.icons {
    width: 10%;
    margin-top: -10px;
    margin-bottom: -10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    vertical-align: top;
}

.h3-message {
    color: white;
}

p {
    font-size: 18px;
    text-align: justify;
    color: darkgrey;
}

.p_header {
    font-size: 20px;
    width: 1000px;
    margin: auto;
    text-align: center;
}

.btn-primary {
    background-color: darkorange;
    border-color: white;
    width: 20%;
}

.message {
    width: 80%;
}

.other-message {
    width: 100%;
}

.canviar_document {
    background-color: white;
}

.h3-document {
    color: darkorange;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    border-radius: 50px;
}

div.row.middle_features {
    margin-top: 50px;
    margin-bottom: 50px;
}

div.row.top_feature {
    margin-bottom: 20px;
}

div.row.bottom_feature {
    margin-top: 20px;
}

div.row.message_feature {
    text-align: center;
    padding-top: 75px;
}

div.row.document_feature {
    text-align: center;
    padding-top: 20px;
}

div.row {
    display: block;
}

div.col-md-auto {
    display: inline-block;
}

iframe {
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 40%;
}

* {
    box-sizing: border-box;
    font-family: "Times New Roman";
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 450px;
}

.columnTop {
    float: left;
    width: 50%;
    padding: 10px;
    height: 80px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button1 {
    color: white;
    border: transparent;
    font-weight: 700;
    font-size: 20px;
    background-color: darkorange;
    padding: 14px 20px;
}

.logo {
    display: inline;
    width: 200px;
    height: 80px;
}

.notification {
    margin-left: 40px;
    display: inline-block;
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 5px 16px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background: red;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.custom-input-file {
    border-style: dotted;
    border-color: #6495ed;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px !important;
    height: 200px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 40%;
    margin: auto;
}

input[type='file'] {
    color: rgba(1, 1, 1, 1);
    margin-top: 20px;
    border-color: white;
}

.numstyle {
    display: inline;
    color: darkorange;
    font-size: 35px;
}

.title {
    display: inline;
    text-align: center;
    margin-left: 5px;
    font-family: Verdana;
    font-size: xx-large;
}

#subtitle1 {
    text-align: center;
    margin-top: 10px;

}

#downblock {
    margin-top: 40px;
}

#downblock2 {
    margin-top: 20px;
}

#image {
    height: 100px;
    width: 100px;
}

#form {
    margin-top: 40px;
}

.submit-button {
    display: inline;
    margin-left: 5px;
}

.inputarea {
    width: 350px;
    height: 200px;
    text-align: left;
    vertical-align: text-top;
    margin-top: -10px;
}

#id_num_pagines {
    border-color: #6495ed;
}