* {
    box-sizing: border-box;
    font-family: "Times New Roman";
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 450px;
}

.columnTop {
    float: left;
    width: 50%;
    padding: 10px;
    height: 80px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button1 {
    color: white;
    border: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    background-color: darkorange;
    padding: 14px 20px;
}

.logo {
    display: inline;
    width: 200px;
    height: 80px;
}

.notification {
    margin-left: 40px;
    display: inline-block;
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 5px 16px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification:hover {
    background: red;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}

.custom-input-file {
    border-style: dotted;
    border-color: black;
    cursor: pointer;
    font-size: 18px;
    margin-top: 30px !important;
    height: 200px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    width: 40%;
    margin: auto;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    border-color: white;
}

.numstyle {
    display: inline;
    color: darkorange;
    font-size: 35px;
}

.title {
    display: inline;
    text-align: center;
    margin-left: 5px;
}

#subtitle1 {
    text-align: center;
    margin-top: 10px;
}

#downblock {
    margin-top: 40px;
}

#downblock2 {
    margin-top: 20px;
}

#image {
    height: 100px;
    width: 100px;
}

#returnBut {
    margin-top: 60px;
    margin-left: 1385px;
}

#form {
    margin-top: 40px;
}

.submit-button {
    display: inline;
    margin-left: 5px;
}