{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'user_header.html' %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/novaversio.css' %}">
    </head>
    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin"> Envieu una nova obra </h1>
        <p class="p_header w3-center">A través d'aquest espai podeu enviar les noves obres que desitgeu presentar
            a l'editorial. Un dels nostres editors la llegirà i es posarà en contacte amb vosaltres</p> </br></br>
    </header>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}


        <div class="w3-container w3-center">
            <div class="row">

                <div>
                    <h1 id="num1" class="numstyle"><b><br>1.</b></h1>
                    <h1 class="title"><b>Afegiu un nou llibre</b></h1>
                    <p id="subtitle1">Adjunteu els vostres manuscrits en el format<br>
                        habitual (PDF)</p>
                </div>
                <div class="custom-input-file">
                    <img id="image" src="{% static 'upload.png' %}" class="logo" alt="logo"><br>
                    <small>Arrossegueu aquí els vostres fitxers</small>
                    <input type="file" class="form-control" name="pdf"
                           placeholder="pdf"
                           required class="input-file">
                </div>
                <br>
                <div id="downblock">
                    <h1 class="numstyle"><b><br>2.</b></h1>
                    <h1 class="title"><b>Indiqueu una proposta de títol</b></h1>
                    <br>
                    <br>
                    <p style="text-align: center;">
                        {{ form.coleccio }}
                    </p>
                    <br>
                </div>
            </div>
            <div id="downblock2">
                <h1 class="numstyle"><b><br>3.</b></h1>
                <h1 class="title"><b>Seleccioneu les temàtiques corresponents</b></h1>
                <p style="text-align: center;">
                    <br>
                    {% for tematica in form.tematiques %}
                        {{ tematica }}
                    {% endfor %}
                </p>
                <br>
            </div>


            <div id="downblock2">
                <h1 class="numstyle"><b><br>4.</b></h1>
                <h1 class="title"><b>Indiqueu una de les nostres col·leccions</b></h1>
                <br>
                <br>
                <p style="text-align: center;">
                    {{ form.coleccio }}
                </p>
                <br>
            </div>
            <div id="downblock2">
                <h1 class="numstyle"><b><br>5.</b></h1>
                <h1 class="title"><b>Indiqueu el número de pàgines</b></h1>
                <br>
                <br>
                <p style="text-align: center;">
                    {{ form.num_pagines }}
                </p>
                <br>
            </div>
            <div>
                <h1 id="num1" class="numstyle"><b><br>6.</b></h1>
                <h1 class="title"><b>Adjunteu un resum de la vostra obra<br>(500 paraules)<br></b></h1>
                <br>
                {{ form.sinopsis }}
            </div>
            <div id="downblock">
                <h1 id="num3" class="numstyle"><b>7.</b></h1>
                <h1 class="title"><b>Envieu-nos la vostra obra<br><br></b></h1>
                <button class="w3-round-xlarge button1 submit-button" type="submit">Presentar el document</button>
                <br>
            </div>
            <div id="downblock2">
                <small id="downtext1">En enviar el document, accepteu els termes i condicions de l'editorial<br><br>
                </small>
            </div>
        </div>

        </div>
    </form>
    <a href={% url 'escriptori' %}>
        <button class="w3-round-xlarge button1" style="margin-top: 10%; margin-left:45%">Tornar a l'escriptori</button>
        <br>
        <br>
        <br>
    </a>
    </body>
{% endblock %}

