{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/areaedicio.css' %}">
    <head>
        {% load static %}
    </head>
    <body>
    <!-- Header -->
    <header class="my_header">
        <h1 class="w3-margin">
            Àrea d'edició: <b>{{ llibre.nom_llibre }}</b>
        </h1>
        <p class="w3-center p_header w3-padding-24">Editor, des d'aquest espai podeu visualitzar el document i anotar
            les vostres observacions
            per tal que les vegi l'escriptor. També podeu sol·licitar les bateries d'imatges i enviar el document per a
            ser maquetat
            i publicat, tot a través dels diferents formularis</p>
    </header>

    <!-- First Grid -->

    <div class="w3-row-padding w3-padding-24 w3-container">

        <div class="w3-third">

            </br> </br> </br>

            <!-- COMENTARIS -->

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/commentseditor">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="icons" src="../static/areaedicio/pencil-icon.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/commentseditor">
                        <button class="btn">
                            <h3><b>COMENTARIS</b></h3>
                        </button>
                    </a>
                </div>
            </div>

            <!-- IMATGES -->

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/dirbateriaimatges">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/areaedicio/bateriaimatges.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/dirbateriaimatges">
                        <button class="btn">
                            <h3><b>IMATGES</b></h3>
                        </button>
                    </a>
                </div>
            </div>

            <!-- TRADUCCIÓ -->

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/dirtraduccions">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/traduccions/translate-icon.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/dirtraduccions">
                        <button class="btn">
                            <h3><b>TRADUCCIONS</b></h3>
                        </button>
                    </a>
                </div>
            </div>

            <!-- MAQUETACIÓ -->

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/dirmaquetacions">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/areaedicio/book-icon.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/dirmaquetacions">
                        <button class="btn">
                            <h3><b>MAQUETACIÓ</b></h3>
                        </button>
                    </a>
                </div>
            </div>

            <!-- PUBLICACIÓ -->

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/solicitudpublicacio">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/areaedicio/earth-icon.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/solicitudpublicacio">
                        <button class="btn">
                            <h3><b>PUBLICACIÓ</b></h3>
                        </button>
                    </a>
                </div>
            </div>
            
            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{% url 'canviardocument' pk=llibre.pk %}">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/areaedicio/arrow-next.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{% url 'canviardocument' pk=llibre.pk %}">
                        <button class="btn">
                            <h3><b>CANVIAR <br> DOCUMENT</b></h3>
                        </button>
                    </a>
                </div>
            </div>

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{% url 'enviarmissatge' %}">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/areaedicio/earth-icon.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{% url 'enviarmissatge' %}">
                        <button class="btn">
                            <h3><b>MISSATGES</b></h3>
                        </button>
                    </a>
                </div>
            </div>

            

        </div>


        <!-- PDF -->

        <div class="w3-twothird">
            <iframe src="{{ llibre.pdf.url }}"
                    width="100%"
                    height="800px">
            </iframe>

            <!-- COMENTARIS -->

            <div class="row document_feature">
            </div>
        </div>
    </div>
                        <a href="{% url 'escriptori' %}">
                            <div style="text-align:center">
                            <button type="button" class="btn btn-primary message w3-round-xlarge ">
                                <h3 class="h3-message"><b>Tornar endarrere</b>
                                    <img class="w3-center icons" src="{% static '/areaescriptor/backarrow.png' %}">
                                </h3>
                            </button>
                                </div>
                            <br/> <br/> <br/> <br/> <br/> <br/>
                        </a>
    </body>
    </html>
{% endblock %}