{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/areaedicio.css' %}">

    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Àrea de disseny i maquetació: <b>{{ llibre.nom_llibre }}</b>
        </h1>

        <p class="p_header w3-padding" ; style="text-align: center"> {{ request.user.email }}, des d'aquest espai podeu veure les sol·licituds i trametre les
            imatges i maquetacions que us demani l'editor/a per l'obra "<b>{{ llibre.nom_llibre }}</b>". Si feu ús dels formularis, l'editor/a rebrà
            directament els vostres arxius. També podeu fer ús de l'eina de missatgeria.
        </p> </br>
    </header>


    <div class="row message_feature" ; style="margin-top: -5%; margin-bottom: -2%">


        <div class="w3-margin col-md-auto">
            <a href="{{ llibre.id }}/solicitudsimg">
                <div class="boto w3-button w3-border w3-round-xlarge row middle_features">
                    <div class="col-md-auto">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/escriptori/solicitud.png">
                        </button>
                    </div>
                    <div class="col-md-auto">
                        <div class="btn">
                            <h3><b>SOL·LICITUDS </p> IMATGES</b></h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>


        <div class="w3-margin col-md-auto">
            <a href="{{ llibre.id }}/solicitudsmaq">
                <div class="boto w3-button w3-border w3-round-xlarge row middle_features">
                    <div class="col-md-auto">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/escriptori/solicitud.png">
                        </button>
                    </div>
                    <div class="col-md-auto">
                        <div class="btn">
                            <h3><b>SOL·LICITUDS </p> MAQUETACIONS </b></h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- MISSATGE NOU -->

    <div class="w3-margin row message_feature w3-padding-16">
        <div class="col-md-auto w3-padding-64" style="text-align: left">
            <a href="#">
                <button type="button" class="btn btn-primary message">
                    <h3 class="h3-message"><b>Missatge nou</b>
                        <img class="w3-center icons" src="../static/areaedicio/message-icon.png">
                    </h3>
                </button>
            </a>
        </div>
    </div>

    <!-- BOTÓ TORNAR -->

    <div class="w3-container w3-right" style="margin-right: 5%; margin-top: -2%">
        <div class="right col-md-auto">
            <a href="javascript:history.back()">
                <button type="button" class="btn btn-primary message">
                    <h3 class="h3-message"><b>Tornar endarrere</b>
                        <img class="w3-center icons" src="{% static '/areaescriptor/backarrow.png' %}">
                    </h3>
                </button>
                <br/> <br/> <br/> <br/> <br/> <br/>
            </a>
        </div>
    </div>


    </div>
    <br>
    <br>
    </body>
{% endblock %}