{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html xmlns="http://www.w3.org/1999/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/areaedicio.css' %}">
    <head>
        {% load static %}
    </head>
    <body>
    <!-- Header -->
    <header class="my_header">
        <h1 class="w3-margin">
            Àrea d'edició: <b>{{ llibre.nom_llibre }}</b>
        </h1>
        <p class="p_header w3-center w3-padding-24">Escriptor, aquí apareix la darrera versió de la vostra obra i podeu
            accedir a les
            observacions que us ha fet el vostre editor i que encara teniu pendents de resoldre. Des d'aquí també podeu
            enviar una
            nova versió modificada a l'editor. Quan ho feu, també se us actualitzarà en aquest espai</p> </br>
    </header>

    <!-- First Grid -->

    <div class="w3-row-padding w3-padding-24 w3-container">

        <div class="w3-third">

            </br> </br> </br>

            <!-- COMENTARIS -->

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/comments">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="icons" src="../static/areaescriptor/comment.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/comments">
                        <button class="btn">
                            <h3><b>COMENTARIS</b></h3>
                        </button>
                    </a>
                </div>
            </div>

            <!-- ENVIAR NOVA VERSIÓ -->

            <div class="boto w3-margin w3-threequarter w3-button w3-border w3-round-xlarge row middle_features" ,
                 style="text-align: left">
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/enviarnovaversio">
                        <button class="btn btn-primary btn-circle btn-xl">
                            <img class="w3-center icons" src="../static/areaescriptor/files.png">
                        </button>
                    </a>
                </div>
                <div class="col-md-auto">
                    <a href="{{ llibre.id }}/enviarnovaversio">
                        <button class="btn">
                            <h3><b>ENVIAR <br> NOVA VERSIÓ</b></h3>
                        </button>
                    </a>
                </div>
            </div>
        </div>


        <!-- PDF -->

        <div class="w3-twothird">
            <iframe src="{{ llibre.pdf.url }}"
                    width="100%"
                    height="800px">
            </iframe>


            <!-- BOTÓ TORNAR -->

            <div class="w3-center" style="margin-top: 2%">
                <a href="{% url 'escriptori' %}">
                    <button type="button" class="btn btn-primary message w3-round-xlarge ">
                        <h3 class="h3-message"><b>Tornar endarrere</b>
                            <img class="w3-center icons" src="{% static '/areaescriptor/backarrow.png' %}">
                        </h3>
                    </button>
                </a>
            </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}