{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/escriptori.css' %}">

    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Àrea de disseny i maquetació: Nom llibre
        </h1>

        <p class="p_header w3-padding-24"> Dissenyador, des d'aquest espai podreu trametre les imatges que us demani
            l'editor/a, així com enviar les maquetacions de les obres. Si feu ús dels formularis, l'editor/a rebrà
            directament els vostres arxius.
        </p> </br>
    </header>


        <div class="row message_feature">
            <div class="col-md-auto">
                <a href={% url 'afegirllibre' %}>
                    <button type="button" class="btn btn-primary message">
                        <h3 class="h3-message"><b>Enviar bateria d'imatges<br><br></b>
                            <img class="w3-center icons" src="../static/escriptori/camera.png">
                        </h3>
                    </button>
                </a>
            </div>
            <div class="col-md-auto">
                <a href={% url 'afegirllibre' %}>
                    <button type="button" class="btn btn-primary message">
                        <h3 class="h3-message"><b>Enviar maquetació<br><br></b>
                            <img class="w3-center icons" src="../static/escriptori/llibre_maquetat.png">
                        </h3>
                    </button>
                </a>
            </div>
        </div>

        <div class="row message_feature">
            <div class="col-md-auto">
                <a href={% url 'solicitudimatges' %}>
                    <button type="button" class="btn btn-primary message">
                        <h3 class="h3-message"><b>Veure sol·licituds d'imatges<br><br></b>
                            <img class="w3-center icons" src="../static/escriptori/solicitud.png">
                            <img class="w3-center icons" src="../static/escriptori/camera.png">
                        </h3>
                    </button>
                </a>
            </div>
            <div class="col-md-auto">
                <a href={% url 'solicitudmaquetacio' %}>
                    <button type="button" class="btn btn-primary message">
                        <h3 class="h3-message"><b>Veure sol·licituds de maquetació<br><br></b>
                            <img class="w3-center icons" src="../static/escriptori/solicitud.png">
                            <img class="w3-center icons" src="../static/escriptori/llibre_maquetat.png">
                        </h3>
                    </button>
                </a>
            </div>
        </div>


        <div class="row message_feature">
            <div class="col-md-auto">
                <a href={% url 'afegirllibre' %}>
                    <button type="button" class="btn btn-primary message">
                        <h3 class="h3-message"><b>Missatge nou<br><br></b>
                            <img class="w3-center icons" src="../static/escriptori/message.png">
                        </h3>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <br>
    <br>
    </body>
{% endblock %}