{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comentaris.css' %}">

    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Comentaris i propostes: {{llibre.nom_llibre }}
        </h1>

        <p class="p_header w3-padding-24"> Aquests són els comentaris i les modificacions que li proposa el seu editor/a.
            Si les comparteix, pot rectificar el seu manuscrit i tornar a enviar el document des de l'Àrea d'edició.
        </p>

    </header>

    <div class="w3-row-padding">
        {% if comentaris %}
            {% for comentari in comentaris %}
                {{ counter.increment }}

                    <div class="w3-third w3-container w3-margin-bottom">
                        <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-white">
                            <br/>
                            <p><h5>{{ comentari.titol }}</h5></p>
                            <p>{{ comentari.descripcio }}</p><br/><br/>
                        </div>

                    </div>

            {% endfor %}
        {% endif %}

        <!-- BOTÓ -->
        <div class="w3-container w3-margin w3-padding">
            <div class="w3-container w3-white">
                <div class="row message_feature">
                    <div class="right col-md-auto">
                        <a href="javascript:history.back()">
                            <button type="button" class="btn btn-secundary message">
                                <h3 class="h3-message-orange"><b>Tornar endarrere</b>
                                    <img class="w3-center icons" src="{% static '/areaescriptor/orangearrowback.png' %}">
                                </h3>
                            </button>
                            <br/> <br/> <br/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </body>
{% endblock %}