{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comentaris_editor.css' %}">

    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Comentaris i modificacions
        </h1>

        <p class="p_header"> Els comentaris o modificacions que proposeu en aquest espai les podrà veure l'escriptor/a
            de l'obra. Cada cop que en publiqui un de nou li arribarà una notificació a ell/a per tal que valori si decideix
            incloure'l o no en el seu llibre.
            <br/> <br/> <br/> <br/>
        </p>

    </header>

      <div class="w3-row-padding">
    {% for object in object_list %}
        {{ counter.increment }}
        {% if counter.mes3 %}
            <div class="w3-row-padding">
                <div class="w3-third w3-container w3-margin-bottom">
                    <a href="{% url 'areaedicio' %}">
                        <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white">
                            <br/>
                            <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%"
                                 class="w3-hover-opacity"> <br/> <br/>
                            <p><h4>{{ object.nom_llibre }}</h4></p>
                            <p>Un noi decideix fer-se escriptor quan descobreix que les seves invencions li regalen una
                                estona
                                més d’atenció de la nena rica que li té el cor robat. Un arquitecte fuig de
                                Constantinoble
                                amb els
                                plànols d’una biblioteca inexpugnable. Un estrany cavaller tempta Cervantes perquè
                                escrigui
                                un llibre
                                com no ha existit mai. I Gaudí, navegant cap a una misteriosa cita a Nova York, es
                                complau
                                amb la llum i el vapor,
                                la matèria de la qual haurien d’estar fetes les ciutats.</p><br/><br/>
                        </div>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="w3-third w3-container w3-margin-bottom">
                <a href="{% url 'areaedicio' %}">
                    <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"><br/>
                        <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%"
                             class="w3-hover-opacity"> <br/> <br/>
                        <p><h4>{{ object.nom_llibre }}</h4></p>
                        <p>Un noi decideix fer-se escriptor quan descobreix que les seves invencions li regalen una
                            estona
                            més d’atenció de la nena rica que li té el cor robat. Un arquitecte fuig de Constantinoble
                            amb els
                            plànols d’una biblioteca inexpugnable. Un estrany cavaller tempta Cervantes perquè escrigui
                            un llibre
                            com no ha existit mai. I Gaudí, navegant cap a una misteriosa cita a Nova York, es complau
                            amb la llum i el vapor,
                            la matèria de la qual haurien d’estar fetes les ciutats.</p><br/><br/>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
      </div>
    </div>
    </div>
{% endblock %}