{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/escriptori.css' %}">

    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Aquest és el vostre escriptori
        </h1>

        <p class="p_header"> Aquí apareixen totes els llibres que estem o hem editat junts.
            Seleccioneu el que vulgueu per veure els comentaris del vostre editor i enviar noves versions.
            I si voleu presentar una obra nova, afegiu-la a la vostra col·lecció i un dels nostres editors
            se la llegirà i es posarà en contacte
            <br/> <br/> <br/> <br/>
        </p>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding">
    {% for object in object_list %}
        {{ counter.increment }}
        {% if counter.mes3 %}
            <div class="w3-row-padding">
                <div class="w3-third w3-container w3-margin-bottom">
                    <a href="{% url 'areaescriptor' pk=object.pk %}">
                        <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white">
                            <br/>
                            <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%"
                                 class="w3-hover-opacity"> <br/> <br/>
                            <p><h4>{{ object.nom_llibre }}</h4></p>
                            <p>{{ object.sinopsis }}</p><br/>
                            <p style="display:inline">Temàtiques: </p>
                            {% for t in tematiques %}
                                <p style="display:inline">{{ t }},</p>
                            {% endfor %}
                            <p>Col·lecció: {{ object.coleccio}}</p>
                            <p>Nombre de pàgines: {{ object.num_pagines}}</p><br/>
                        </div>
                    </a>
                </div>
            </div>
        {% else %}
            <div class="w3-third w3-container w3-margin-bottom">
                <a href="{% url 'areaescriptor' pk=object.pk %}">
                    <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"><br/>
                        <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%"
                             class="w3-hover-opacity"> <br/> <br/>
                        <p><h4>{{ object.nom_llibre }}</h4></p>
                        <p>{{ object.sinopsis }}</p><br/>
                        <p style="display:inline">Temàtiques: </p>
                        {% for t in tematiques %}
                            <p style="display:inline">{{ t }},</p>
                        {% endfor %}
                        <p>Col·lecció: {{ object.coleccio}}</p>
                        <p>Nombre de pàgines: {{ object.num_pagines}}</p><br/>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}

        <!-- Afegir nou llibre -->

    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="row message_feature">
                <div class="col-md-auto">
                    <a href="#">
                        <button type="button" class="btn btn-primary message">
                            <h3 class="h3-message"><b>Afegiu una nova obra</b>
                                <img class="w3-center icons" src="../static/escriptori/plusicon.png">
                            </h3>
                        </button>
                    </a>
                </div>
        </div>
    </div>
    </div>
{% endblock %}