{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/escriptori.css' %}">

    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Aquest és el vostre escriptori
        </h1>

        <p class="p_header"> Aquí apareixen totes les edicions que heu o esteu portant a terme.
            Quan se us assigni un nou llibre rebreu una notificació
            i us apareixerà aquí l'obra per poder iniciar el seu procés d'edició
            <br/> <br/> <br/> <br/>
        </p>

    </header>

    <!-- First Grid -->
      <div class="w3-row-padding">

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="{% url 'areaedicio' %}">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity"> <br/> <br/>
                <p><h4>{{ object_list.first.nom_llibre }}</h4></p>
                <p>Un noi decideix fer-se escriptor quan descobreix que les seves invencions li regalen una estona
                    més d’atenció de la nena rica que li té el cor robat. Un arquitecte fuig de Constantinoble amb els
                    plànols d’una biblioteca inexpugnable. Un estrany cavaller tempta Cervantes perquè escrigui un llibre
                    com no ha existit mai. I Gaudí, navegant cap a una misteriosa cita a Nova York, es complau amb la llum i el vapor,
                    la matèria de la qual haurien d’estar fetes les ciutats.</p><br/>
                <p>Temàtica: Novel·la literària | Relats</p>
                <p>Col·lecció: Clàssica</p>
                <p>Traductor: Josep Pelfort</p>
                <p>Nombre de pàgines: 224</p><br/>
              </div>
            </a>
        </div>

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity">  <br/> <br/>
                <p><h4>Tàndem - Maria Barbal </h4></p>
                <p>Des que es coneixen, l’Elena i l’Armand intentaran desfer-se de tot allò que els té atrapats
                    i recuperar l’espontaneïtat i l’alegria del present. S’adonaran que tenen dret a canviar, a
                    mirar el món de manera diferent de com ho havien fet durant anys, a estimar-se a si mateixos.
                    En definitiva, a concedir-se la llibertat de viure plenament. Tàndem és una història sobre la felicitat.
                    No pas la que ens promet un viatge meravellós, ni tan sols la d’escoltar «T’estimo», sinó la que ens
                    anima a pedalar acompanyats i a aconseguir-ne una de més profunda i duradora. Una novel·la deliciosa que
                    explora la capacitat humana de bandejar els pensaments i els fets rutinaris i deixar-se portar per la vida.</p><br/>
                <p>Temàtica: Novel·la literària</p>
                <p>Col·lecció: L'ANCORA</p>
                <p>Nombre de pàgines: 176</p><br/>
              </div>
            </a>
        </div>

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity"> <br/> <br/>
                <p><h4>L'infinit dins d'un jonc - Irene Vallejo</h4></p>
                <p>Aquest llibre tracta sobre la història dels llibres. Un recorregut per la vida d’aquest fascinant
                    artefacte que vam inventar perquè les paraules poguessin viatjar per l’espai i el temps.
                    La història de la seva fabricació, de tots els tipus que hem assajat al llarg de gairebé trenta segles:
                    llibres de fum, de pedra, d’argila, de joncs, de seda, de pell, d’arbres i, els últims d’arribar,
                    de plàstic i de llum. A més, és un llibre de viatges. Un fil que uneix els clàssics amb el vertiginós
                    món contemporani, connectant-los amb debats actuals: Aristòfanes i els processos judicials contra humoristes,
                    Safo i la veu literària de les dones, Titus Livi i el fenomen fan, Sèneca i la postveritat…</p><br/>
                <p>Temàtica: Història</p>
                <p>Col·lecció: NO FICCIÓ</p>
                <p>Traductor: Núria Parés Sellarés</p>
                <p>Nombre de pàgines: 448</p><br/>
              </div>
            </a>
        </div>

    <!-- Second Grid-->
      <div class="w3-row-padding">

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity"> <br/> <br/>
                <p><h4>Abans de les cinc som a casa - Albert Forns Canal</h4></p>
                <p>Algú es mor, la família es reparteix les coses de valor i contracta una empresa perquè buidi el pis.
                    Les seves pertinences acaben venudes als Encants i, el diumenge següent, un passavolant troba tretze
                    llibretes al mercat de Sant Antoni. Són els diaris d’un barceloní que, des de mitjans dels anys seixanta
                    i durant quinze anys, va deixar constància del seu dia a dia. El comprador de seguida s’adona que és tota
                    una vida, el que recullen aquells quaderns, i entoma el repte majúscul de reconstruir-la. </p><br/>
                <p>Temàtica: Novel·la literària</p>
                <p>Col·lecció: El balancí</p>
                <p>Nombre de pàgines: 336</p><br/>
              </div>
            </a>
        </div>

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity">  <br/> <br/>
                <p><h4>Paraula de jueu - Martí Gironell </h4></p>
                <p>El mestre d’obres Pere Baró rep l’encàrrec de la vila reial de Besalú de reconstruir el pont que tres-cents anys
                    abans havia aixecat el constructor Prim Llombard. Una riuada l’ha destruït i posa en risc l’expansió i la posició
                    comercial de la ciutat. Un jove jueu, en Kim, descendent dels Llombard, troba la manera de participar en les obres,
                    que s’aturaran per causes que es veurà abocat a investigar. Una aventura medieval i vital que protagonitzen en
                    Kim i l’Ester, una noia cristiana que treballa entre l’hospital de l’Almoina de Barcelona i el call jueu.</p><br/>
                <p>Temàtica: Novel·la històrica</p>
                <p>Col·lecció: Clàssica</p>
                <p>Nombre de pàgines: 432</p><br/>
              </div>
            </a>
        </div>

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity"> <br/> <br/>
                <p><h4>L'infinit dins d'un jonc - Irene Vallejo</h4></p>
                <p>Aquest llibre tracta sobre la història dels llibres. Un recorregut per la vida d’aquest fascinant
                    artefacte que vam inventar perquè les paraules poguessin viatjar per l’espai i el temps.
                    La història de la seva fabricació, de tots els tipus que hem assajat al llarg de gairebé trenta segles:
                    llibres de fum, de pedra, d’argila, de joncs, de seda, de pell, d’arbres i, els últims d’arribar,
                    de plàstic i de llum. A més, és un llibre de viatges. Un fil que uneix els clàssics amb el vertiginós
                    món contemporani, connectant-los amb debats actuals: Aristòfanes i els processos judicials contra humoristes,
                    Safo i la veu literària de les dones, Titus Livi i el fenomen fan, Sèneca i la postveritat…</p><br/>
                <p>Temàtica: Història</p>
                <p>Col·lecció: NO FICCIÓ</p>
                <p>Traductor: Núria Parés Sellarés</p>
                <p>Nombre de pàgines: 448</p><br/>
              </div>
            </a>
        </div>

    <!-- Third Grid-->
      <div class="w3-row-padding">

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity"> <br/> <br/>
                <p><h4>La ciutat de vapor - Carlos Ruiz Zafón</h4></p>
                <p>Un noi decideix fer-se escriptor quan descobreix que les seves invencions li regalen una estona
                    més d’atenció de la nena rica que li té el cor robat. Un arquitecte fuig de Constantinoble amb els
                    plànols d’una biblioteca inexpugnable. Un estrany cavaller tempta Cervantes perquè escrigui un llibre
                    com no ha existit mai. I Gaudí, navegant cap a una misteriosa cita a Nova York, es complau amb la llum i el vapor,
                    la matèria de la qual haurien d’estar fetes les ciutats.</p><br/>
                <p>Temàtica: Novel·la literària | Relats</p>
                <p>Col·lecció: Clàssica</p>
                <p>Traductor: Josep Pelfort</p>
                <p>Nombre de pàgines: 224</p><br/>
              </div>
            </a>
        </div>

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity">  <br/> <br/>
                <p><h4>Tàndem - Maria Barbal </h4></p>
                <p>Des que es coneixen, l’Elena i l’Armand intentaran desfer-se de tot allò que els té atrapats
                    i recuperar l’espontaneïtat i l’alegria del present. S’adonaran que tenen dret a canviar, a
                    mirar el món de manera diferent de com ho havien fet durant anys, a estimar-se a si mateixos.
                    En definitiva, a concedir-se la llibertat de viure plenament. Tàndem és una història sobre la felicitat.
                    No pas la que ens promet un viatge meravellós, ni tan sols la d’escoltar «T’estimo», sinó la que ens
                    anima a pedalar acompanyats i a aconseguir-ne una de més profunda i duradora. Una novel·la deliciosa que
                    explora la capacitat humana de bandejar els pensaments i els fets rutinaris i deixar-se portar per la vida.</p><br/>
                <p>Temàtica: Novel·la literària</p>
                <p>Col·lecció: L'ANCORA</p>
                <p>Nombre de pàgines: 176</p><br/>
              </div>
            </a>
        </div>

        <div class="w3-third w3-container w3-margin-bottom">
            <a href="#">
              <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-container w3-left w3-white"> <br/>
                  <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%" class="w3-hover-opacity"> <br/> <br/>
                <p><h4>L'infinit dins d'un jonc - Irene Vallejo</h4></p>
                <p>Aquest llibre tracta sobre la història dels llibres. Un recorregut per la vida d’aquest fascinant
                    artefacte que vam inventar perquè les paraules poguessin viatjar per l’espai i el temps.
                    La història de la seva fabricació, de tots els tipus que hem assajat al llarg de gairebé trenta segles:
                    llibres de fum, de pedra, d’argila, de joncs, de seda, de pell, d’arbres i, els últims d’arribar,
                    de plàstic i de llum. A més, és un llibre de viatges. Un fil que uneix els clàssics amb el vertiginós
                    món contemporani, connectant-los amb debats actuals: Aristòfanes i els processos judicials contra humoristes,
                    Safo i la veu literària de les dones, Titus Livi i el fenomen fan, Sèneca i la postveritat…</p><br/>
                <p>Temàtica: Història</p>
                <p>Col·lecció: NO FICCIÓ</p>
                <p>Traductor: Núria Parés Sellarés</p>
                <p>Nombre de pàgines: 448</p><br/>
              </div>
            </a>
        </div>
    </body>
    </html>
{% endblock %}