{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/escriptori.css' %}">
    <head>
        {% load static %}
    </head>
    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Galeria d'imatges: <b>{{ llibre.nom_llibre }}</b>
        </h1>

        <br/>

    </header>

    <a href="imatge">
        <div class="w3-hover-opacity w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" alt="Alps" style="width:100%">
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Ref. 254ALMB</p>
                        <p style="text-align: center">Dissenyador: GARRIDO</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="imatge">
        <div class="w3-hover-opacity w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" alt="Alps" style="width:100%">
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Ref. 254ALMB</p>
                        <p style="text-align: center">Dissenyador: GARRIDO</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="imatge">
        <div class="w3-hover-opacity w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" alt="Alps" style="width:100%">
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Ref. 254ALMB</p>
                        <p style="text-align: center">Dissenyador: GARRIDO</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="imatge">
        <div class="w3-hover-opacity w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" alt="Alps" style="width:100%">
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Ref. 254ALMB</p>
                        <p style="text-align: center">Dissenyador: GARRIDO</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="imatge">
        <div class="w3-hover-opacity w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <img src="https://www.w3schools.com/w3css/img_snowtops.jpg" alt="Alps" style="width:100%">
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Ref. 254ALMB</p>
                        <p style="text-align: center">Dissenyador: GARRIDO</p>
                    </div>
                </div>
            </div>
        </div>
    </a>

    {% for object, tematiques in mylist %}
        <div>
            <div class="w3-quarter w3-container w3-margin-bottom">
                <a href="{% url 'areaedicio' pk=object.pk %}">
                    <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-white">
                        <br/>
                        <img src="/static/escriptori/bookescriptori3.png" alt="Book icon" style="width:10%"
                             class="w3-hover-opacity"> <br/> <br/>
                        <p><h4>{{ object.nom_llibre }}</h4></p>
                        <p>{{ object.sinopsis }}</p><br/>
                        <p style="display:inline">Temàtiques: </p>
                        {% for t in tematiques %}
                            <p style="display:inline">{{ t }},</p>
                        {% endfor %}
                        <p>Col·lecció: {{ object.coleccio }}</p>
                        <p>Nombre de pàgines: {{ object.num_pagines }}</p><br/>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>

    <!-- BOTÓ TORNAR -->

    <div class="w3-container">

        <div class="w3-right col-md-auto">
            <a href="javascript:history.back()">
                <button type="button" class="btn btn-primary message">
                    <h3 class="h3-message"><b>Tornar endarrere</b>
                        <img class="w3-center icons" src="{% static '/areaescriptor/backarrow.png' %}">
                    </h3>
                </button>
                <br/> <br/> <br/>
            </a>
        </div>
    </div>
    </body>
{% endblock %}