{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/galeries.css' %}">

    <body>

    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Galeria de maquetacions: <b>{{ llibre.nom_llibre }}</b>
        </h1>

        <br/>

    </header>

    <!-- Qui faci el backend tot això ho pot esborrar (*) -->

    <a href="imatge">
        <div class=" w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <iframe src="https://www.parlament.cat/document/cataleg/48089.pdf"
                            width="100%"
                            height="800px">
                    </iframe>
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Muntanyes del Canigó</p>
                        <p style="text-align: center">Dissenyador: GARRIDO. Ref: 254ALMB</p>
                        <a href="LINK IMATGE">
                            <button class="w3-button w3-round-xlarge w3-orange w3-margin ">
                                <div style="color: white; font-weight: bold; font-size: medium"> Descarregar
                                    <img class="w3-center icons" style="width: 30px; height: auto"
                                         src="{% static '/altres/baixada.png' %}">
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="imatge">
        <div class=" w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <iframe src="https://www.parlament.cat/document/cataleg/48089.pdf"
                            width="100%"
                            height="800px">
                    </iframe>
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Muntanyes del Canigó</p>
                        <p style="text-align: center">Dissenyador: GARRIDO. Ref: 254ALMB</p>
                        <a href="LINK IMATGE">
                            <button class="w3-button w3-round-xlarge w3-orange w3-margin ">
                                <div style="color: white; font-weight: bold; font-size: medium"> Descarregar
                                    <img class="w3-center icons" style="width: 30px; height: auto"
                                         src="{% static '/altres/baixada.png' %}">
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="imatge">
        <div class=" w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <iframe src="https://www.parlament.cat/document/cataleg/48089.pdf"
                            width="100%"
                            height="800px">
                    </iframe>
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Muntanyes del Canigó</p>
                        <p style="text-align: center">Dissenyador: GARRIDO. Ref: 254ALMB</p>
                        <a href="LINK IMATGE">
                            <button class="w3-button w3-round-xlarge w3-orange w3-margin ">
                                <div style="color: white; font-weight: bold; font-size: medium"> Descarregar
                                    <img class="w3-center icons" style="width: 30px; height: auto"
                                         src="{% static '/altres/baixada.png' %}">
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <a href="imatge">
        <div class=" w3-center w3-third w3-container w3-margin-bottom">
            <div class="w3-container">

                <div class="w3-card-4" style="width:100%">
                    <iframe src="https://www.parlament.cat/document/cataleg/48089.pdf"
                            width="100%"
                            height="800px">
                    </iframe>
                    <div class="w3-container w3-center w3-margin">
                        <p style="text-align: center">Muntanyes del Canigó</p>
                        <p style="text-align: center">Dissenyador: GARRIDO. Ref: 254ALMB</p>
                        <a href="LINK IMATGE">
                            <button class="w3-button w3-round-xlarge w3-orange w3-margin ">
                                <div style="color: white; font-weight: bold; font-size: medium"> Descarregar
                                    <img class="w3-center icons" style="width: 30px; height: auto"
                                         src="{% static '/altres/baixada.png' %}">
                                </div>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <!-- Des de dalt fins aquí (*) -->


    <div>
        {% for object, tematiques in mylist %}
            <a href="imatge">
                <div class=" w3-center w3-third w3-container w3-margin-bottom">
                    <div class="w3-container">
                        <div class="w3-card-4" style="width:100%">
                            <iframe src="{{ llibre.pdf.url }}"
                                    width="100%"
                                    height="800px">
                            </iframe>
                            <div class="w3-container w3-center w3-margin">
                                <p style="text-align: center">Títol: {{ object.nom_imatge }}</p>
                                <p style="text-align: center">Maquetador: {{ object.autor }}.
                                    Ref: {{ object.referència }}</p>
                                <a href="LINK IMATGE">
                                    <button class="w3-button w3-round-xlarge w3-orange w3-margin ">
                                        <div style="color: white; font-weight: bold; font-size: medium"> Descarregar
                                            <img class="w3-center icons" style="width: 25px; height: auto"
                                                 src="{% static '/altres/baixada.png' %}">
                                        </div>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    <!-- BOTÓ TORNAR -->

    <div class="w3-container">

        <div class="right col-md-auto">
            <a href="javascript:history.back()">
                <button type="button" class="w3-round-xlarge btn btn-primary message">
                    <h3 class="h3-message"><b>Tornar endarrere</b>
                        <img class="w3-center icons" src="{% static '/areaescriptor/backarrow.png' %}">
                    </h3>
                </button>
                <br/> <br/> <br/>
            </a>
        </div>
    </div>

    </body>
{% endblock %}

