{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'user_header.html' %}
    <html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/escriptori.css' %}">

    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="w3-margin">
            Sol·licituds d'imatges
        </h1>

        <p class="p_header w3-padding-24"> Aquí apareixen totes les sol·licituds d'imatges que tens pendent de gestionar
        </p> </br>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding">
        {% for object in llista_solicituds %}
            <div>
                <a href="{% url 'enviarbat' pk=llibre.pk %}">
                    <div class="w3-third w3-container w3-margin-bottom">
                        <div class="w3-container w3-border w3-round-xlarge w3-topbar w3-white box">
                            <br/>
                            <img class="w3-center icons" src="{% static '/escriptori/solicitudblack.png' %}"
                                 style="margin-left: 35%">
                            <img class="w3-center icons" src="{% static '/escriptori/camerablack.png' %}">
                            <p><h4>{{ object.nom }}</h4></p>
                            <p><b>Context:</b> {{ object.context }}</p><br/>
                            <p><b>Llibre:</b> {{ object.llibre }}</p>
                            <p><b>Editor:</b> {{ object.editor }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}

        <div class="w3-container w3-center">
            <div class="back-button right">
                <a href={% url 'escriptori' %}>
                    <button class="w3-round-xlarge btn btn-primary2">
                        <h3 class="h3-message"><b>Tornar al llibre</b>
                            <img class="w3-center icons" src={% static "maquetacio/backarrow.png" %}>
                        </h3>
                    </button>
                </a>
            </div>
        </div>


    </div>

    <!-- BOTÓ TORNAR -->

    <div style="text-align: center">
            <a href="javascript:history.back()">
                <button type="button" class="w3-round-xlarge btn btn-primary message">
                    <h3 class="h3-message"><b>Tornar endarrere</b>
                        <img class="w3-center icons" src="{% static '/areaescriptor/backarrow.png' %}">
                    </h3>
                </button>
            </a>
    </div>
    </body>
{% endblock %}