{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'user_header.html' %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/enviar_maquetar.css' %}">
    </head>
    <body>
    <!-- Header -->
    <header class="my_header">

        <h1 class="h1-header w3-margin">
            Sol·liciteu una traducció
        </h1>

        <p class="w3-center p_header w3-padding-24"> A través d'aquest formulari podeu sol·licitar la traducció
            del llibre que necessiteu.
        </p>
    </header>
    <div class="w3-container w3-center">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="w3-container w3-center">
                <div class="row">
                    <div class="column">
                        <table>
                            <tr>
                                <th>Idioma</th>
                                <th>Codi de 2 caràcters</th>
                            </tr>
                            <tr>
                                <td>Espanyol</td>
                                <td>es</td>
                            </tr>
                            <tr>
                                <td>Portuguès</td>
                                <td>pt</td>
                            </tr>
                        </table>
                    </div>
                    <div class="column" style="margin-top: 3%">
                        <h3>Introdueix el codi de 2 caràcters referent a l'idioma al qual vols traduïr el llibre</h3>
                        {{ form.idioma }}
                        {{ form.non_field_errors }}
                    </div>
                </div>
                <div class="w3-row-padding w3-container" style="margin-top: -18%">
                    <button type="submit" class="w3-round-xlarge btn btn-primary message">
                        <h3 class="h3-message"><b>Enviar sol·licitud de traducció</b>
                            <img src="{% static '../static/modificacions/send.png' %}"
                                 style="width: 30px;height: 30px;margin-right: 20px;"
                                 alt="Enviar sol·licitud de traduccio">
                        </h3>
                    </button>
                    <a href="{% url 'dirtraduccions' pk=llibre.id %}">
                        <button type="button" class="w3-round-xlarge btn btn-primary message">
                            <h3 class="h3-message"><b>Tornar endarrere</b>
                                <img src="{% static '../static/areaescriptor/backarrow.png' %}"
                                     style="width: 30px;height: 30px;margin-right: 20px;"
                                     alt="Endarrere">
                            </h3>
                        </button>
                    </a>
                </div>
            </div>
        </form>
    </div>
    </body>
{% endblock %}